<h1>User Update</h1>
<div class='name'>First name:</div> <input type="text" placeholder="<%= userinfo['firstname'] %>" id="firstname0"/><br />
<div class='name'>Last name:</div> <input type="text" placeholder="<%= userinfo['lastname'] %>" id="lastname0"/><br />
<div class='name'>Age:</div> <input type="text" placeholder="<%= userinfo['age'] %>" id="age0"/><br />
<div class='name'>Occupation:</div> <input type="text" placeholder="<%= userinfo['occupation'] %>" id="occupation0"/><br />
<button class="btn-update" name=<%= userinfo['_id']%>>Update</button>
